In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/telecom-churn-datasets/churn-bigml-20.csv
/kaggle/input/telecom-churn-datasets/churn-bigml-80.csv

In [15]:
import pandas as pd
filename = "/kaggle/input/telecom-churn-datasets/churn-bigml-80.csv"
df = pd.read_csv(filename)
df.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

In [17]:
import pandas as pd
df.shape
df.columns

Index(['State', 'Account length', 'Area code', 'International plan',
       'Voice mail plan', 'Number vmail messages', 'Total day minutes',
       'Total day calls', 'Total day charge', 'Total eve minutes',
       'Total eve calls', 'Total eve charge', 'Total night minutes',
       'Total night calls', 'Total night charge', 'Total intl minutes',
       'Total intl calls', 'Total intl charge', 'Customer service calls',
       'Churn'],
      dtype='object')

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2666 entries, 0 to 2665
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   State                   2666 non-null   object
 1   Account length          2666 non-null   int64
 2   Area code               2666 non-null   int64
 3   International plan      2666 non-null   object
 4   Voice mail plan         2666 non-null   object
 5   Number vmail messages   2666 non-null   int64
 6   Total day minutes       2666 non-null   float64
 7   Total day calls         2666 non-null   int64
 8   Total day charge        2666 non-null   float64
 9   Total eve minutes       2666 non-null   float64
 10  Total eve calls         2666 non-null   int64
 11  Total eve charge        2666 non-null   float64
 12  Total night minutes     2666 non-null   float64
 13  Total night calls       2666 non-null   int64
 14  Total night charge      2666 non-null   float64
 15  Total intl minutes      2666 non-null   float64
 16  Total intl calls        2666 non-null   int64
 17  Total intl charge       2666 non-null   float64
 18  Customer service calls  2666 non-null   int64
 19  Churn                   2666 non-null   bool
dtypes: bool(1), float64(8), int64(8), object(3)
memory usage: 398.5+ KB

In [19]:
df['Churn'] = df ['Churn'].astype("int64")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2666 entries, 0 to 2665
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   State                   2666 non-null   object
 1   Account length          2666 non-null   int64
 2   Area code               2666 non-null   int64
 3   International plan      2666 non-null   object
 4   Voice mail plan         2666 non-null   object
 5   Number vmail messages   2666 non-null   int64
 6   Total day minutes       2666 non-null   float64
 7   Total day calls         2666 non-null   int64
 8   Total day charge        2666 non-null   float64
 9   Total eve minutes       2666 non-null   float64
 10  Total eve calls         2666 non-null   int64
 11  Total eve charge        2666 non-null   float64
 12  Total night minutes     2666 non-null   float64
 13  Total night calls       2666 non-null   int64
 14  Total night charge      2666 non-null   float64
 15  Total intl minutes      2666 non-null   float64
 16  Total intl calls        2666 non-null   int64
 17  Total intl charge       2666 non-null   float64
 18  Customer service calls  2666 non-null   int64
 19  Churn                   2666 non-null   int64
dtypes: float64(8), int64(9), object(3)
memory usage: 416.7+ KB

In [20]:
df['Churn'].value_counts(normalize=True)

Churn
0    0.854464
1    0.145536
Name: proportion, dtype: float64

In [21]:
df['Churn'].value_counts()[1]/df.shape[0]

0.145536384096024

In [22]:
df['Churn'].value_counts()

Churn
0    2278
1     388
Name: count, dtype: int64

In [23]:
df.columns

Index(['State', 'Account length', 'Area code', 'International plan',
       'Voice mail plan', 'Number vmail messages', 'Total day minutes',
       'Total day calls', 'Total day charge', 'Total eve minutes',
       'Total eve calls', 'Total eve charge', 'Total night minutes',
       'Total night calls', 'Total night charge', 'Total intl minutes',
       'Total intl calls', 'Total intl charge', 'Customer service calls',
       'Churn'],
      dtype='object')

In [24]:
df.sort_values(by='Total day charge', ascending=True).head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
1100,VT,101,510,No,No,0,0.0,0,0.00,192.1,119,16.33,168.8,95,7.60,7.2,4,1.94,1,0
1057,SD,98,415,No,No,0,0.0,0,0.00,159.6,130,13.57,167.1,88,7.52,6.8,1,1.84,4,1
2206,OK,127,510,No,Yes,27,2.6,113,0.44,254.0,102,21.59,242.7,156,10.92,9.2,5,2.48,3,0
2218,OH,134,415,No,No,0,7.8,86,1.33,171.4,100,14.57,186.5,80,8.39,12.9,2,3.48,2,0
1575,WI,70,415,No,No,0,7.9,100,1.34,136.4,83,11.59,156.6,89,7.05,12.1,1,3.27,0,0

In [25]:
df.sort_values(by=['Churn', 'Total day charge'], ascending=[True, False]).head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
1818,NC,210,415,No,Yes,31,313.8,87,53.35,147.7,103,12.55,192.7,97,8.67,10.1,7,2.73,3,0
460,SD,114,415,No,Yes,36,309.9,90,52.68,200.3,89,17.03,183.5,105,8.26,14.2,2,3.83,1,0
2302,AL,141,510,No,Yes,28,308.0,123,52.36,247.8,128,21.06,152.9,103,6.88,7.4,3,2.00,1,0
917,VT,50,415,Yes,Yes,26,307.1,94,52.21,289.4,78,24.60,174.9,109,7.87,8.0,3,2.16,0,0
1997,TN,123,415,No,Yes,34,305.2,80,51.88,156.5,109,13.30,280.0,81,12.60,13.2,7,3.56,1,0

## 1) Qual é a média de Total day charge para os clientes que vão embora?

In [38]:
df[df['Churn']== 0]['Total day charge'].mean()

29.768266022827042

#### 2) Qual é a média de Total day charge para os clientes que ficam?

In [39]:
df[df['Churn']== 1]['Total day charge'].mean()

34.88134020618557

In [42]:
churn_1 = df[df['Churn']== 0]
churn_1

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,0
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,0
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,0
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,0
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2661,SC,79,415,No,No,0,134.7,98,22.90,189.7,68,16.12,221.4,128,9.96,11.8,5,3.19,2,0
2662,AZ,192,415,No,Yes,36,156.2,77,26.55,215.5,126,18.32,279.1,83,12.56,9.9,6,2.67,2,0
2663,WV,68,415,No,No,0,231.1,57,39.29,153.4,55,13.04,191.3,123,8.61,9.6,4,2.59,3,0
2664,RI,28,510,No,No,0,180.8,109,30.74,288.8,58,24.55,191.9,91,8.64,14.1,6,3.81,2,0
2665,TN,74,415,No,Yes,25,234.4,113,39.85,265.9,82,22.60,241.4,77,10.86,13.7,4,3.70,0,0

In [43]:
type(churn_1), churn_1.shape

(pandas.core.frame.DataFrame, (2278, 20))

4) Qual é o tamanho máximo das chamadas internacionais (Total intl minutes) para os usuários que ficam (churn==0) e para os usuário que vão embora(churn==1) que não tem Plano de Ligações internacionais(International plan).

In [46]:
# tamanho máximo das chamadas internacionais (Total intl minutes) para os usuários que ficam (churn==0) 
df[df['Churn']== 0]['Total intl minutes'].max()

18.9

In [61]:
pivot_table = df.pivot_table(values='Total intl minutes', index='Churn',columns='International plan',aggfunc='max')
pivot_table

International plan    No   Yes
Churn
0                   18.9  13.0
1                   16.4  20.0

#### 5) Quais as médias, desvios padrões, maximos e mínimos dos "Total day minutes" e "Total night minutes" para os usuários que ficam e os que vão embora?

In [73]:
    df.groupby('Total day minutes').describe()

                  Account length                                        \
                           count   mean      std    min     25%    50%
Total day minutes
0.0                          2.0   99.5  2.12132   98.0   98.75   99.5
2.6                          1.0  127.0      NaN  127.0  127.00  127.0
7.8                          1.0  134.0      NaN  134.0  134.00  134.0
7.9                          1.0   70.0      NaN   70.0   70.00   70.0
12.5                         1.0   98.0      NaN   98.0   98.00   98.0
...                          ...    ...      ...    ...     ...    ...
335.5                        1.0  112.0      NaN  112.0  112.00  112.0
337.4                        1.0   83.0      NaN   83.0   83.00   83.0
345.3                        1.0  115.0      NaN  115.0  115.00  115.0
346.8                        1.0   64.0      NaN   64.0   64.00   64.0
350.8                        1.0  154.0      NaN  154.0  154.00  154.0

                                 Area code         ... Customer service calls  \
                      75%    max     count   mean  ...                    75%
Total day minutes                                  ...
0.0                100.25  101.0       2.0  462.5  ...                   3.25
2.6                127.00  127.0       1.0  510.0  ...                   3.00
7.8                134.00  134.0       1.0  415.0  ...                   2.00
7.9                 70.00   70.0       1.0  415.0  ...                   0.00
12.5                98.00   98.0       1.0  415.0  ...                   1.00
...                   ...    ...       ...    ...  ...                    ...
335.5              112.00  112.0       1.0  415.0  ...                   2.00
337.4               83.00   83.0       1.0  415.0  ...                   0.00
345.3              115.00  115.0       1.0  510.0  ...                   1.00
346.8               64.00   64.0       1.0  415.0  ...                   1.00
350.8              154.00  154.0       1.0  415.0  ...                   1.00

                       Churn
                   max count mean       std  min   25%  50%   75%  max
Total day minutes
0.0                4.0   2.0  0.5  0.707107  0.0  0.25  0.5  0.75  1.0
2.6                3.0   1.0  0.0       NaN  0.0  0.00  0.0  0.00  0.0
7.8                2.0   1.0  0.0       NaN  0.0  0.00  0.0  0.00  0.0
7.9                0.0   1.0  0.0       NaN  0.0  0.00  0.0  0.00  0.0
12.5               1.0   1.0  0.0       NaN  0.0  0.00  0.0  0.00  0.0
...                ...   ...  ...       ...  ...   ...  ...   ...  ...
335.5              2.0   1.0  1.0       NaN  1.0  1.00  1.0  1.00  1.0
337.4              0.0   1.0  1.0       NaN  1.0  1.00  1.0  1.00  1.0
345.3              1.0   1.0  1.0       NaN  1.0  1.00  1.0  1.00  1.0
346.8              1.0   1.0  1.0       NaN  1.0  1.00  1.0  1.00  1.0
350.8              1.0   1.0  1.0       NaN  1.0  1.00  1.0  1.00  1.0

[1489 rows x 128 columns]

In [81]:
df.groupby(['Churn'])[['Total day minutes','Total night minutes']].agg([np.mean, np.std, np.min, np.max, np.sum])

      Total day minutes                                  Total night minutes  \
                   mean        std amin   amax       sum                mean
Churn
0            175.104346  50.105334  0.0  313.8  398887.7          200.464091
1            205.181186  68.490213  0.0  350.8   79610.3          205.307216


             std  amin   amax       sum
Churn
0      51.284496  43.7  395.0  456657.2
1      47.565157  47.4  354.9   79659.2

#### 6) Será cliente que sai ou que fica que tem as maiores somas e médias da soma de todas as ligações?

In [90]:
totaldostotais = df.groupby('Total night minutes')['Total day minutes'].sum()
df.groupby('Churn').totaldostotais.agg([np.mean, np.max])

AttributeError: 'DataFrameGroupBy' object has no attribute 'totaldostotais'

In [105]:
df['Totaldostotais'] = df['Total night minutes'] + df['Total day minutes']  + df['Total intl minutes'] + df['Total eve minutes']
pivot_table = df.pivot_table(values='Totaldostotais', index='Churn',aggfunc='mean')
pivot_table

       Totaldostotais
Churn
0          584.559658
1          630.693041

In [106]:
df['Totaldostotais'] = df['Total night minutes'] + df['Total day minutes']  + df['Total intl minutes'] + df['Total eve minutes']
pivot_table = df.pivot_table(values='Totaldostotais', index='Churn',aggfunc='sum')
pivot_table

       Totaldostotais
Churn
0           1331626.9
1            244708.9